PYCK_ENV=local
# PYCK_LOG_LEVEL=
PYCK_DATABASE_MASTER_URL=postgres://admin:12345@db:5432/pyck_dev?sslmode=disable
PYCK_DATABASE_SLAVE_URL=postgres://admin:12345@db:5432/pyck_dev?sslmode=disable
PYCK_GATEWAY_URL=http://gateway:4000
PYCK_TEMPORAL_URL=temporal:7236
# PYCK_SERVICES_PATH=backend # for local development
PYCK_NATS_STREAM_NAME=pyck
PYCK_NATS_URL=nats://root:root@nats-server:4222
PYCK_NATS_WS_URL=nats-server:8889
PYCK_NATS_REPLICAS_NO=1
PYCK_NATS_AUTH_KEY_SEED=SAANGZCZVEFLVMZS6GC4SEGMCYKOC5FPBIWQRAI455PLTLJSIQPPODYM2A

# Local zitadel default values for development
PYCK_ZITADEL_OAUTH_URL=http://zitadel-proxy:8080
PYCK_ZITADEL_ISSUER=http://localhost:8080
PYCK_ZITADEL_GRPC_ADDR=zitadel-proxy:8080
PYCK_ZITADEL_GRPC_INSECURE=true
PYCK_ZITADEL_AUDIENCE=http://localhost:8080
PYCK_ZITADEL_APP_KEYFILE=/data/keys/local-key.json
PYCK_ZITADEL_SERVICE_KEYFILE=/data/keys/zitadel-admin-sa.json
PYCK_ZITADEL_TLS_INSECURE=true

PYCK_TENANT_ID=service-worker-tenant-id
PYCK_AWS_S3_BUCKET="pyck-local-dev"
PYCK_AWS_S3_REGION=us-west-2
PYCK_AWS_S3_ENDPOINT_URL=http://minio:9000
PYCK_AWS_S3_HTTP_ENDPOINT_URL=http://localhost:9000
PYCK_AWS_ACCESS_KEY_ID=pyck
PYCK_AWS_SECRET_ACCESS_KEY=pYckpAss+23
PYCK_LOG_FORMAT=console
PYCK_OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
# PYCK_OTEL_EXPORTER_OTLP_AUTHORIZATION=
# PYCK_OPENAI_TOKEN=
# PYCK_TEST_TENANT_ID=
PYCK_TEST_NATS_WS_URL=ws://localhost:8889
# PYCK_FRONTEND_BASE_URL=https://frontend.local.pyck.cloud
# PYCK_GITHUB_CLIENT_ID=
# PYCK_GITHUB_CLIENT_SECRET=
# OIDC_CLIENT_ID=
# OIDC_CLIENT_SECRET=
